/* -- GENERAL --*/
:root {
  font-size: 62.5%;
  --maincolor: #219ebc;
  --secondcolor: #f5f5f5;
  --extracolor: #ffb703;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 5rem auto;
  width: 60%;
  background-color: var(--maincolor);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--secondcolor);
}
@media (max-width: 1210px) {
  body {
    background-color: var(--secondcolor);
    color: var(--maincolor);
  }
}

h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}
/* -- GENERAL --*/

/* -- UTILITIES -- */
.section {
  margin: 4rem 0 10rem;
}
.row {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.group {
  display: flex;
  flex-direction: row;
}
/* -- UTILITIES -- */

/* -- CARDS -- */
.form-card {
  border: .4rem solid var(--extracolor);
  border-radius: 2rem;
  margin: auto;
  padding: 6rem 12rem;
  text-align: center;
  background-color: var(--secondcolor);
  color: var(--maincolor);
}
@media (max-width: 1210px) {
  .form-card {
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2rem;
  margin: auto;
  height: 40rem;
  width: calc(33.3% - 2rem);
  text-align: center;
  align-items: flex-start;
  background-color: var(--extracolor);
  color: var(--secondcolor);
}
@media (max-width: 1580px) {
  .card {
    margin: 2rem auto;
    height: auto;
    width: calc(45%);
  }
  .card label {
    width: 100%;
    text-align: center;
  }
  .card label:active h5, .card label:active p {
    display:block;
  }
}
@media (max-width: 800px) {
  .card {
    margin: 1rem auto;
  }
}
@media (max-width: 755px) {
  .card {
    margin: 1rem auto;
    width: 75%;
  }
}
@media (max-width: 475px) {
  .card {
    width: 90%;
  }
}

.card label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2rem;
  padding: 2rem 5rem;
  height: 100%;
  background-color: var(--extracolor);
  transition: transform .3s, border .1s;
}
.card p {
  font-size: 1.6rem;
}
.card input {
  visibility: hidden;
}
.card label:hover {
  cursor: pointer;
  border: .6rem solid var(--extracolor);
  background-color: var(--secondcolor)!important;
  color: var(--extracolor)!important;
  transform: scale(1.1);
}

.card label:active {
  transition: transform .1s;
  transform: scale(1);
}

.checkedCard {
  background-color: var(--maincolor)!important;
  color: var(--secondcolor)!important;
}
.extra-feature-card {
  display: none;
  padding: 0 6rem;
  height: 12rem;
  justify-content: space-around;
  align-items: center;
}
.extra-feature-card label:hover, .extra-feature-card input:hover {
  cursor: pointer;
  background-color: var(--secondcolor);
  color: var(--maincolor);
}
.blog-card {
  flex-direction: column;
}

/* -- CARDS -- */

/* -- FORM -- */
input[type=text], input[type=email], input[type=number], select {
  margin: 2rem 0;
  height: 4rem;
  font-size: 1.6rem;
}
textarea {
  margin: 2rem auto 4rem;
  max-width: 80%;
  font-size: 1.6rem;
}
@media (max-width: 1210px) {
  textarea {
    max-width: 90%;
  }
}
@media (max-width: 800px) {
  textarea {
    width: 100%;
  }
}

button {
  border: .1rem solid var(--extracolor);
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1rem 4rem;
  background-color: var(--extracolor);
  color: #f1faee;
  transition: all .2s linear;
}
button:hover {
  cursor: pointer;
  border-color: var(--maincolor);
  background-color: var(--maincolor);
  color: var(--secondcolor);
}
/* -- FORM -- */

/* -- SPECIFICS -- */
#type-service {
  display: flex;
}
@media (max-width: 1580px) {
  #type-service {
    flex-direction: column;
  }
  #type-service h5, #type-service p {
    display: none;
  }
}

.additional-specs {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .additional-specs {
    width: 100%;
  }
}
