/* -- GENERAL --*/
:root {
  font-size: 62.5%;
  --maincolor: #1D3557;
  --secondcolor: #F1FAEE;
  --extracolor: #457B9D;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 5rem auto;
  width: 60%;
  background-color: var(--maincolor);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--secondcolor);
}
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}
/* -- GENERAL --*/

/* -- UTILITIES -- */
.section {
  margin: 4rem 0 10rem 0;
}
.row {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.group {
  display: flex;
  flex-direction: row;
}
/* -- UTILITIES -- */

/* -- CARDS -- */
.form-card {
  border: 1px solid #000;
  border-radius: 2rem;
  margin: auto;
  padding: 6rem 12rem;
  text-align: center;
  background-color: var(--secondcolor);
  color: var(--maincolor);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #000;
  border-radius: 2rem;
  margin: auto;
  height: 40rem;
  width: calc(33.3% - 2rem);
  text-align: center;
  align-items: flex-start;
  background-color: var(--extracolor);
  color: var(--secondcolor);
}
.card label {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.card p {
  font-size: 1.6rem;
}
.card input {
  visibility: hidden;
}
.card label:hover {
  cursor: pointer;
}
.checkedCard {
  background-color: var(--secondcolor);
  color: var(--extracolor);
}
.feature-card {
  display: none;
  padding: 0 6rem;
  height: 12rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--extracolor);
  color: var(--secondcolor);
}
.feature-card input {
  display: none;
}
.feature-card label:hover {
  cursor: pointer;
  background-color: var(--secondcolor);
  color: var(--maincolor);
}

/* -- CARDS -- */

/* -- FORM -- */
input[type=text], input[type=email], input[type=number], select {
  margin: 2rem 0;
  height: 4rem;
  font-size: 1.6rem;
}
textarea {
  margin: 0 auto;
  max-width: 80%;
  font-size: 1.6rem;
}
button {
  border: 1px solid #000;
  border-radius: 2rem;
  padding: 1rem 4rem;
  background-color: var(--extracolor);
  color: #f1faee;
}
button:hover {
  cursor: pointer;
}
/* -- FORM -- */

/* -- SPECIFICS -- */
#type-service {
  display: flex;
}
