/* -- GENERAL --*/
:root {
  font-size: 62.5%;
  --maincolor: #1D3557;
  --secondcolor: #F1FAEE;
  --extracolor: #457B9D;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 5rem auto;
  width: 60%;
  background-color: var(--maincolor);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--secondcolor);
}
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}

/* -- GENERAL --*/

/* -- UTILITIES -- */
.section {
  margin: 4rem 0 10rem 0;
}
.row {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.group {
  display: flex;
  flex-direction: row;
}
/* -- UTILITIES -- */

/* -- CARDS -- */
.form-card {
  border: 1px solid #000;
  border-radius: 2rem;
  margin: auto;
  padding: 6rem 12rem;
  text-align: center;
  background-color: var(--secondcolor);
  color: var(--maincolor);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2rem;
  margin: auto;
  height: 40rem;
  width: calc(33.3% - 2rem);
  text-align: center;
  align-items: flex-start;
  background-color: var(--extracolor);
  color: var(--secondcolor);
}
.card label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2rem;
  padding: 2rem 5rem;
  height: 100%;
  background-color: var(--extracolor);
  transition: transform .3s, border .1s;
}
.card p {
  font-size: 1.6rem;
}
.card input {
  visibility: hidden;
}
.card label:hover {
  cursor: pointer;
  border: .6rem solid var(--extracolor);
  background-color: var(--secondcolor);
  color: var(--extracolor);
  transform: scale(1.1);
}

.card label:active {
  transition: transform .1s;
  transform: scale(1);
}

.checkedCard {
  background-color: var(--secondcolor)!important;
  color: var(--extracolor)!important;
}
.extra-feature-card {
  display: none;
  padding: 0 6rem;
  height: 12rem;
  justify-content: space-around;
  align-items: center;
}
.extra-feature-card label:hover, .extra-feature-card input:hover {
  cursor: pointer;
  background-color: var(--secondcolor);
  color: var(--maincolor);
}
.blog-card {
  flex-direction: column;
}

/* -- CARDS -- */

/* -- FORM -- */
input[type=text], input[type=email], input[type=number], select {
  margin: 2rem 0;
  height: 4rem;
  font-size: 1.6rem;
}
textarea {
  margin: 2rem auto 4rem;
  max-width: 80%;
  font-size: 1.6rem;
}
button {
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 1rem 4rem;
  background-color: var(--extracolor);
  color: #f1faee;
  transition: all .2s linear;
}
button:hover {
  cursor: pointer;
  background-color: var(--secondcolor);
  color: var(--extracolor);
}
/* -- FORM -- */

/* -- SPECIFICS -- */
#type-service {
  display: flex;
}
